@import "tailwindcss";

@theme{
    /* === Brand Colors === */
    --color-primary: #002623;   /* Deep dark green */
    --color-secondary: #054239; /* Lighter green shade */
    --color-accent: #C7B08A;    /* Sand / gold-beige accent */
    --color-body: #EDEBE0;      /* Body background */
    --color-light: #FFFFFF;     /* White */
    --color-dark: #111111;      /* Black / dark text */

    /* Fonts */
    --font-sans: "Inter", sans-serif;    /* Body font */
    --font-title: "Poppins", sans-serif; /* Headings */
}

body{
    @apply bg-body text-dark font-sans;
}

h1, h2, h3, h4, h5, h6{
    @apply font-title text-primary;
}


@keyframes fade-in {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out both;
}
